# STEPS FOR MACHINE LEARNING

## Step 0: Import the necessary libraries

In [56]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn import linear_model
import numpy as np
%matplotlib inline

## Step 1: Import Data

In [6]:
# readinag given csv file 
# and creating dataframe 
try:
    file = pd.read_csv('household_power_consumption.csv')
except FileNotFoundError as e:
    print(f"File Not Found! Error is [{e}]")
except NameError as e:
    print(f"File Not Found! Error is [{e}]")

/tmp/ipykernel_8882/2784700669.py:4: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  file = pd.read_csv('household_power_consumption.csv')

In [13]:
file.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

## Step 2: Clean the Data

In [24]:
file = file.drop(labels=["Date", "Time"] ,axis=1)

In [49]:
file.head(5)
print(file.isnull().sum())

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [48]:
file.dtypes

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
dtype: object

In [47]:
for col in file.columns:
    print(f"1)Before Changing the types: {file[col].describe()}")
    file[col] = file[col].replace('?', pd.NA).fillna(0).astype(float)
    print(f"2)After Changing the types: {file[col].describe()}")

1)Before Changing the types: count    2.075259e+06
mean     1.077950e+00
std      1.057642e+00
min      0.000000e+00
25%      3.040000e-01
50%      5.780000e-01
75%      1.520000e+00
max      1.112200e+01
Name: Global_active_power, dtype: float64
2)After Changing the types: count    2.075259e+06
mean     1.077950e+00
std      1.057642e+00
min      0.000000e+00
25%      3.040000e-01
50%      5.780000e-01
75%      1.520000e+00
max      1.112200e+01
Name: Global_active_power, dtype: float64
1)Before Changing the types: count    2.075259e+06
mean     1.221658e-01
std      1.128556e-01
min      0.000000e+00
25%      4.600000e-02
50%      1.000000e-01
75%      1.920000e-01
max      1.390000e+00
Name: Global_reactive_power, dtype: float64
2)After Changing the types: count    2.075259e+06
mean     1.221658e-01
std      1.128556e-01
min      0.000000e+00
25%      4.600000e-02
50%      1.000000e-01
75%      1.920000e-01
max      1.390000e+00
Name: Global_reactive_power, dtype: float64
1)Before Changing the types: count    2.075259e+06
mean     2.378249e+02
std      2.697024e+01
min      0.000000e+00
25%      2.388900e+02
50%      2.409600e+02
75%      2.428600e+02
max      2.541500e+02
Name: Voltage, dtype: float64
2)After Changing the types: count    2.075259e+06
mean     2.378249e+02
std      2.697024e+01
min      0.000000e+00
25%      2.388900e+02
50%      2.409600e+02
75%      2.428600e+02
max      2.541500e+02
Name: Voltage, dtype: float64
1)Before Changing the types: count    2.075259e+06
mean     4.569827e+00
std      4.446361e+00
min      0.000000e+00
25%      1.400000e+00
50%      2.600000e+00
75%      6.400000e+00
max      4.840000e+01
Name: Global_intensity, dtype: float64
2)After Changing the types: count    2.075259e+06
mean     4.569827e+00
std      4.446361e+00
min      0.000000e+00
25%      1.400000e+00
50%      2.600000e+00
75%      6.400000e+00
max      4.840000e+01
Name: Global_intensity, dtype: float64
1)Before Changing the types: count    2.075259e+06
mean     1.107879e+00
std      6.115669e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      8.800000e+01
Name: Sub_metering_1, dtype: float64
2)After Changing the types: count    2.075259e+06
mean     1.107879e+00
std      6.115669e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      8.800000e+01
Name: Sub_metering_1, dtype: float64
1)Before Changing the types: count    2.075259e+06
mean     1.282265e+00
std      5.787271e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.000000e+00
max      8.000000e+01
Name: Sub_metering_2, dtype: float64
2)After Changing the types: count    2.075259e+06
mean     1.282265e+00
std      5.787271e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.000000e+00
max      8.000000e+01
Name: Sub_metering_2, dtype: float64
1)Before Changing the types: count    2.075259e+06
mean     6.377598e+00
std      8.414871e+00
min      0.000000e+00
25%      0.000000e+00
50%      1.000000e+00
75%      1.700000e+01
max      3.100000e+01
Name: Sub_metering_3, dtype: float64
2)After Changing the types: count    2.075259e+06
mean     6.377598e+00
std      8.414871e+00
min      0.000000e+00
25%      0.000000e+00
50%      1.000000e+00
75%      1.700000e+01
max      3.100000e+01
Name: Sub_metering_3, dtype: float64

## Step 3: Split the Data into Training/testing

In [54]:
X = np.asanyarray(file[["Global_reactive_power", "Voltage", "Global_intensity","Sub_metering_1","Sub_metering_2","Sub_metering_3"]])
y = np.asanyarray(file[["Global_active_power"]])

In [57]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=38)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (1660207, 6) (1660207, 1)
Test set: (415052, 6) (415052, 1)

## Step 4: Create a Model

In [1]:
regr = linear_model.LinearRegression()

NameError: name 'linear_model' is not defined

## Step 5: Train the Model

In [ ]:
regr.fit(X_train, y_train)
# The coefficients
print ('Coefficients: ', regr.coef_)

## Step 6: Make Predictions

In [59]:
y_hat= regr.predict(X_test)

## Step 7: Evaluation and Improve

In [60]:
print("Residual sum of squares: %.2f"
      % np.mean((y_hat - y_test) ** 2))

# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % regr.score(X_test, y_test))

Residual sum of squares: 0.00
Variance score: 1.00